body {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c3e50;
}

.box {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.box1 {
  width: 100%;
}

#pinkboard {
  position: relative;
  margin: auto;
  height: 500px;
  width: 500px;
  animation: animate 1.2s infinite;
}

#pinkboard:before,
#pinkboard:after {
  content: "";
  position: absolute;
  background: #d63031;
  width: 100px;
  height: 160px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

#pinkboard:before {
  left: 100px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#pinkboard:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

input {
  display: none;
  width: 250px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 35px;
  left: calc(50% - 125px);
  background: none;
  color: white;
  font-size: 30px;
  font-family: arial;
  text-align: center;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.2);
}
p {
  position: fixed;
  left: 0;
  bottom: 5px;
  color: #fff;
  z-index: 10;
  font-size: 16px;
  font-family: Helvetica, Verdana, sans-serif;
  opacity: 0.5;
  width: 100%;
  text-align: center;
  margin: 0;
}
